@font-face {
  font-family: "iconfont"; /* Project id 3162779 */
  src: url('@/static/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fishpond:before {
  content: "\e6be";
}

.icon-fish:before {
  content: "\e657";
}

.icon-tool-hardware:before {
  content: "\e76e";
}

